<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDN5BkChKQdWm2E82x6AKso9mDxfdEWE8A</string>
	<key>GCM_SENDER_ID</key>
	<string>1051995644878</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.homeChefHub</string>
	<key>PROJECT_ID</key>
	<string>homechefhub-f9445</string>
	<key>STORAGE_BUCKET</key>
	<string>homechefhub-f9445.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1051995644878:ios:f78a59b9e46e490559019f</string>
</dict>
</plist>